body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff; 
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background: #f8d9d3; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #7a2111; 
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
}

input {
    display: block;
    width: 80%;
    padding: 10px;
    border: 2px solid #ebab9f; 
    border-radius: 5px;
    margin: 5px auto;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #7a2111; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #611c0f; 
}

.result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #bb7063; 
}

